@import 'https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap';
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cantarell, sans-serif;
  background-color: #c7deef;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.navigation {
  padding-block: 16px;
  padding-inline: 48px;
  background-color: #fff;
}
.navigation__collection {
  display: flex;
  gap: 56px;
  justify-content: space-between;
  overflow-x: scroll;
  -ms-overflow-style: none;
}
.navigation__collection::-webkit-scrollbar {
  display: none;
}
.navigation__left {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
.navigation__right {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
.navigation__text {
  padding-block: 4px;
  padding-inline: 8px;
  font-size: 18px;
  font-weight: 700;
  border: 1.5px solid #fff;
}
.navigation__text:hover {
  border: 1.5px solid #000;
  border-radius: 8px;
}

.main__text-collection {
  margin-block: 48px 64px;
  margin-inline: auto;
}
.main__title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  cursor: default;
}
.main__text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: default;
}
.main__card-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px 28px;
  padding-inline: 96px;
  margin-bottom: 96px;
}
.main__card {
  height: 480px;
  background-color: #fff;
  border-radius: 8px;
  transition: all 300ms ease-out;
}
.main__card--text {
  padding-block: 18px;
  padding-inline: 24px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: default;
}
.main__card:hover {
  color: #fff;
  background-color: #7da8c7;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 28px 48px;
  padding-inline: 24px;
  background-color: #fff;
}
.footer__text {
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}