@import 'https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap';

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cantarell, sans-serif;
  background-color: #c7deef;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.navigation {
  padding-block: 16px;
  padding-inline: 48px;
  background-color: #fff;

  &__collection {
    display: flex;
    gap: 56px;
    justify-content: space-between;
    overflow-x: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__left {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  &__right {
    display: flex;
    column-gap: 16px;
    align-items: center;
  }

  &__text {
    padding-block: 4px;
    padding-inline: 8px;
    font-size: 18px;
    font-weight: 700;
    border: 1.5px solid #fff;

    &:hover {
      border: 1.5px solid #000;
      border-radius: 8px;
    }
  }
}

.main {
  &__text-collection {
    margin-block: 48px 64px;
    margin-inline: auto;
  }

  &__title {
    padding-bottom: 18px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    cursor: default;
  }

  &__text {
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: default;

    &-c {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      cursor: default;
    }
  }

  &__img {
    width: 250px;
    height: 300px;
    margin-inline: auto;
    margin-bottom: 48px;

    // background-color: #fff;

    &-p {
      width: 250px;
      height: 300px;
      border-radius: 8px;
    }
  }

  &__sns-collection {
    margin-block: 18px 96px;
    margin-inline: auto;
  }

  &__sns {
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: default;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 28px 48px;
  padding-inline: 24px;
  background-color: #fff;

  &__text {
    font-size: 16px;
    font-weight: 600;
    cursor: default;
  }
}
